:root {
--white: hsl(0, 0%, 100%);
--Slate1: hsl(212, 45%, 89%);
--Slate2: hsl(216, 15%, 48%);
--Slate3: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background: var(--Slate1);
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    height: calc(100vh - 1px);
    margin: 1.5rem;
}


section {
    
    background: var(--white);
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 2rem ;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    
    
}

section img {
    
    justify-content: center;
    margin-bottom: 1rem;
    max-width: 100%;
    border-radius: 20px;
}

section .title{
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

section .subtitle {
    font-size: 15px;
    text-align: center;
    
}

@media (min-width: 500px){
    section{
        width: 400px;
    }
}